* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: Helvetica;
    overflow: hidden;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}

#clock {    
    --clockSize: 400px;
    height: var(--clockSize);
    width: var(--clockSize);
    border-radius: 50%;
    background-color: white;
    position: relative;
}

#clock::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 20px;
    width: 20px;
    background-color: black;
    border-radius: 50%;
    z-index: 10;
}

.number {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  padding: 18px; 
}

.number:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 50%;
    background-color: #ccc;
}

#hand {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#hand div {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    height: 38%;
    width: 4px;
    border-radius: 2px;
}

.note-text {
    margin-top: -75px;
}

.styled-btn {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:10px 28px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}

.styled-btn:hover {
    background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
    background-color:#476e9e;
}

.styled-btn:active {
    position:relative;
    top:1px;
}

.chord-input-div {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

input {
    height: 2rem;
    margin: 5px;
    box-sizing: content-box;
    width: auto;
}

form label {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

#form {
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 10px 10px 15px 15px rgba(0,0,0,0.2);
}
